<html xmlns:th= "http://www.thymeleaf.org">
<h1>boardUpdate</h1>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('#update').click(function(){
			if($('#pw').val() == $('#boardPw').val()){
				$('#form').submit();
			} else {
				$('#pw').val('비밀번호 불일치.');
				$('#pw').focus();
			}
		});
	});
</script>

</head>

<body>

<a href = "/boardAdd">[글쓰기]</a>
<a href = "/boardList">[글목록]</a>

<form id="form" action = "/boardUpdate" method="post">
		<input type ="hidden" th:id = "boardPw" th:name="boardPw" th:value = "${board.boardPw}">		
		No : <input type="text" th:name="boardNo" th:value=${board.boardNo} readonly> <br>
		제목 : <input type="text" th:name="boardTitle" th:value=${board.boardTitle}> <br>
		내용 : <textarea th:name="boardContent" th:text=${board.boardContent}></textarea> <br>
		글쓴이 : <input type="text" th:name="boardUser" th:value=${board.boardUser} readonly> <br>
		등록일자 : <input type="text" th:name="boardDate" th:value=${board.boardDate} readonly> <br>	
		비밀번호 입력: <input type="text" id = "pw" value = "">
		<input type="button" id= "update" value="수정 완료">			
</form>	
</body>