<!-- board_add_form.php -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>BOARD ADD</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('#ADD').click(function(){
			if($('#title').val() == ""){
				$('#titlebo').text('타이틀을 입력하세요');
				$('#title').focus();
			} else if ($('#content').val() == ""){
				$('#titlebo').text('');
				$('#contentbo').text('컨텐츠를 입력하세요');
				$('#content').focus();
			} else if ($('#user').val() == ""){
				$('#titlebo').text('');
				$('#contentbo').text('');
				$("#userbo").text('유져이름을 입력하세요');
				$('#user').focus();	
			} else if ($('#pw').val().length < 4){
				$('#titlebo').text('');
				$('#contentbo').text('');
				$('#userbo').text('');
				$('#pwbo').text('비밀번호를 4자 이상 입력하세용~');
				$('#pw').focus();
			} else {
				$('#form').submit();
			}
				
		});
	});

</script>
<body>
    <div class="container">
        <h1>BOARD ADD</h1>
        <form id="form" action="/boardAdd" method="post" enctype = "multipart/form-data">
            
            <div class="form-group">
                <label for="board_title">boardTitle :</label> 
                <input class="form-control" name="boardTitle" id="title" type="text" /><span id = "titlebo"></span>
            </div>
            <div class="form-group">
                <label for="board_content">boardContent :</label>
                <textarea class="form-control" name="boardContent" id="content" rows="5" cols="50" value = ""></textarea><span id = "contentbo"></span>
            </div>
            <div class="form-group">
                <label for="board_user">boardUser :</label> 
                <input class="form-control" name="boardUser" id="user" type="text" /><span id = "userbo"></span>
            </div>
            <div class="form-group">
                <label for="board_pw">boardPw :</label> 
                <input class="form-control" name="boardPw" id="pw" type="text" /><span id = "pwbo"></span>
            </div>
            <div class="form-group">
                <label for="board_pw">boardFile :</label> 
                <input class="form-control" name="files" id="" type="file" /><span id = ""></span>
            </div>
            <div>
                <input class="btn btn-default" id = "ADD" type="button" value="글입력" /> 
                <a class="btn btn-default" href = "/boardList">글목록</a>
            </div>
        </form>
    </div>
</body>
</html>

