<!-- board_add_form.php -->
<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>BOARDUPDATE</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('#update').click(function(){
			if($('#pw').val() == $('#boardPw').val()){
				$('#form').submit();
			} else {
				$('#pw').val('비밀번호 불일치.');
				$('#pw').focus();
			}
		});
	});
</script>
<body>
    <div class="container">
        <h1>BOARD UPDATE</h1>
        <form id="form" action="/boardUpdate" method="post">
            
            <div class="form-group">
                <label for="board_No">board No :</label> 
                <input class="form-control" type="text" th:name="boardNo" th:value=${board.boardNo} readonly>
            </div>
            <div class="form-group">
                <label for="board_title">board Title :</label> 
                <input class="form-control" type="text" th:name="boardTitle" th:value=${board.boardTitle}>
            </div>
            <div class="form-group">
                <label for="board_content">board Content :</label>
                <textarea class="form-control" th:name="boardContent" th:text=${board.boardContent}></textarea>
            </div>
            <div class="form-group">
                <label for="board_user">board User :</label> 
                <input class="form-control" type="text" th:name="boardUser" th:value=${board.boardUser} readonly>
            </div>
            <div class="form-group">
                <label for="board_date">board Date :</label> 
                <input class="form-control" type="text" th:name="boardDate" th:value=${board.boardDate} readonly>
            </div>
            <div class="form-group">
                <label for="board_pw">board Pw :</label> 
                <input class="form-control" type="text" id="pw" value = "" />
            </div>
            <div>
				<input type ="hidden" th:id = "boardPw" th:name="boardPw" th:value = "${board.boardPw}">
                <input class="btn btn-default" type="button" id = "update"  value="수정" /> 
                <a class="btn btn-default" href = "/boardAdd">글쓰기</a>
                <a class="btn btn-default" href = "/boardList">글목록</a>
            </div>
        </form>
    </div>
</body>
</html>

